<%= form_for(@note) do |f| %>
  <div class="row">
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="form-group">
        <%= f.label 'Title' %>
        <%= f.text_field :name, autofocus: true, placeholder: "Title", required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Description' %>
        <%= f.text_area :desc, placeholder: "Enter description", class: "form-control"%>
      </div>
      <div class="pull-right">
        <%= link_to 'Cancel', home_path, class: "btn btn-default" %>
        <%= f.submit 'Submit', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
