<div class="row">
	<h3>
		Notes
		<%= link_to '+ Add Note', new_note_path, :class => "btn btn-success pull-right" %>
	</h3>
	<br />
	<div id="note_list">
		<% @notes.each do |note| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= note.name %>
					<div class="pull-right note-btns">
						<%= link_to '<i class="mdi-content-create"></i>'.html_safe, edit_note_path(note) %>
						<%= link_to '<i class="mdi-navigation-close"></i>'.html_safe,note_path(note), method: :delete %>
					</div>
				</div>
				<div class="panel-body">
					<%= note.desc %>
				</div>
			</div>
		<% end %>
	</div>
</div>
