<%= form_for(:user, url: user_session_path) do |f| %>
	<div class="row">
		<div>
			<div>
				<h3>Sign In</h3>
			</div>
			<div class="form-group">
				<%= f.text_field :email, autofocus: true, placeholder: "Email", required: true, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
			</div>
			<div>
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me %>
			</div>
			<div class="pull-right">
				<%= f.submit "Sign in", class: "btn btn-primary" %>
			</div>
			<br />
			<br />
			<br />
			<div>
				<h4><b>Dont have an account? </b><a data-toggle="modal" data-target="#signupModal" href="#">Sign up</a></h4>
			</div>
		</div>
	</div>
<% end %>
